[submodule "DebitaV3Contracts/lib/redstone-oracles-monorepo"]
	path = DebitaV3Contracts/lib/redstone-oracles-monorepo
	url = https://github.com/redstone-finance/redstone-oracles-monorepo
[submodule "DebitaV3Contracts/lib/openzeppelin-contracts"]
	path = DebitaV3Contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "DebitaV3Contracts/lib/forge-std"]
	path = DebitaV3Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DebitaV3Contracts/lib/contracts"]
	path = DebitaV3Contracts/lib/contracts
	url = https://github.com/aerodrome-finance/contracts
[submodule "Debita-V3-Contracts/lib/redstone-oracles-monorepo"]
	path = Debita-V3-Contracts/lib/redstone-oracles-monorepo
	url = https://github.com/redstone-finance/redstone-oracles-monorepo
[submodule "Debita-V3-Contracts/lib/openzeppelin-contracts"]
	path = Debita-V3-Contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Debita-V3-Contracts/lib/foundry-chainlink-toolkit"]
	path = Debita-V3-Contracts/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "Debita-V3-Contracts/lib/forge-std"]
	path = Debita-V3-Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
